:root {
  --white: #ffffff;
  --black: #333333;
  --grey: #cccccc;
  --orange: #f99746;
  --inputsBack: #fefefe;
  --inputsBorder: #e2e2e2;
  --error: rgb(236, 53, 53);
  --warning: rgb(236, 53, 53);
  --success: rgb(236, 53, 53);
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(/static/media/back.fe0e5cc7.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
