:root {
  --white: #ffffff;
  --black: #333333;
  --grey: #cccccc;
  --orange: #f99746;
  --inputsBack: #fefefe;
  --inputsBorder: #e2e2e2;
  --error: rgb(243, 117, 117);
  --warning: rgb(253, 225, 132);
  --success: rgb(53, 236, 181);
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/img/back.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.alert--danger {
  background-color: var(--error); 
}
.alert--warning {
  background-color: var(--warning); 
}
.alert--success {
  background-color: var(--success); 
}